software/library/fastLOGIC/.DS_Store

.DS_Store
hardware/.DS_Store
hardware/version001/fastLOGIC/#auto_saved_files#
hardware/version001/fastLOGIC/.DS_Store
hardware/version001/fastLOGIC/_autosave-fastLOGIC.kicad_pcb
hardware/version001/fastLOGIC/fastLOGIC-backups/
hardware/version001/fastLOGIC/production/.DS_Store
software/library/.DS_Store
software/.DS_Store
software/library/fastLOGIC/.DS_Store
software/library/fastLOGIC/examples/.DS_Store
